@model WebApplication1.Models.WeatherModel.Rootobject
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout2.cshtml";
}



<!DOCTYPE html>

<h2>Hava Durumu Ekranı</h2>


<div class="container">
    <br />
    @using (Html.BeginForm("Index", "Weather", FormMethod.Post))
    {
        <label>Şehir Adı Giriniz: </label>
        <input type="text" class="form-control" name="cityName"/>
        <br>
        <button class="btn btn-primary">Göster</button>
    }

    @if (Model != null && Model.success)
    {
        <div>
            <p>Şehir: @Model.data.city</p>
            <p>Mevcut Hava Durumu: @Model.data.current_weather</p>
            <p>Sıcaklık: @Model.data.temp °C</p>
        </div>
    }
</div>


